// ApercuPro: 700 (otf)
@font-face {
  font-family: "ApercuPro";
  src: url("../fonts/ApercuPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}

// ApercuPro: 400 (otf)
@font-face {
  font-family: "ApercuPro";
  src: url("../fonts/ApercuPro-Bold.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
